*{
    background-color: yellow;
}
.cell{
    width:75px;
    height:75px;
    border: 2px solid;
    box-shadow: 0 0 0 2px;
    line-height: 75px;
    font-size: 50px;
    font-weight: 600;
    cursor: pointer;
    background: hsl(101, 69%, 47%);

}
.cell:hover{
    background: hsl(101, 69%, 67%);
}

.cell:active{
    background: hsl(101, 69%, 87%);
}
#gameContainer{
    font-family: "Permanent Marker",cursive;
    text-align: center;
}
#cellContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    width:225px;
    margin: auto;
}
body{
    margin-top: 10rem;
    margin-bottom: 10rem;
}
#restartBtn{
    width: 100px;
    height:40px;
    background: yellowgreen;
    color:black;
    border-radius: 6px;
    font-size: medium;
    font-weight: 600;
    font-style: none;
}
#restartBtn:hover{
    background:hsl(101, 69%, 47%);
    color: black;
}


#restartBtn:active{
    background:hsl(101, 69%, 67%);
    color: black;
}

